body {
    /* background-color: rgb(255, 255, 255); */
}

.addnewnotesicon{
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    background-color: rgb(207, 226, 255);
    height: 8vh;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}
