body {
    /* background-color: rgb(255, 255, 255); */
}

.addnewnotesicon{
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    background-color: rgb(207, 226, 255);
    height: 8vh;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.bookdiv{
    min-height: 310px;
}

.preserve-format {
    white-space: pre-line;  /* Preserves line breaks and wraps text */
    word-wrap: break-word;  /* Ensures long words don't overflow */
}
